<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ritchie.Properties.Settings.connection" connectionString="Data Source=mssqllab.rhsmith.umd.edu\BUDT758Y,9758;Initial Catalog=BUDT758_DB_Student_043;User ID=BUDT758_Student_043;Password=rnw5742!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>